@import 'tailwindcss';
:root {
	--color-brand-black: #1e2125;
	--color-brand-gray: #2b2f34;
	--color-brand-white: #f8fcfd;
	--color-brand-purple: #d591fe;
	--color-brand-green: #00ffd1;
	--font-brand: 'Red Hat Mono', monospace;
}
body {
	background-color: var(--color-brand-black);
	color: var(--color-brand-white);
	font-family: var(--font-brand);
}

.title {
	font-family: var(--font-brand);
	text-transform: uppercase;
	font-size: 48px;
	font-weight: regular;
	letter-spacing: -1px;
	color: var(--color-brand-white);
}

.bg-brand-black {
	background-color: var(--color-brand-black);
}
.bg-brand-gray {
	background-color: var(--color-brand-gray);
}
.border-brand-purple {
	border: solid 1px var(--color-brand-purple);
	border-radius: 4px;
}
.border-brand-white {
	border: solid 1px var(--color-brand-white);
	border-radius: 4px;
}

.border-brand-green {
	border: solid 1px var(--color-brand-green);
	border-radius: 4px;
}

.border-brand-green p span {
	color: var(--color-brand-green);
}

.border-brand-purple p span {
	color: var(--color-brand-purple);
}
